.app-header {
  margin-top: 1.5rem;
}

.app-content {
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .app-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

p {
  margin-bottom: 1rem;
}

.message-header p {
  margin-bottom: 0;
}
